// CONSTS
// ## Colors
// #### Light Theme
// ### Primary
$colToggle: hsl(230, 22%, 74%)
// ### Neutral
$colBG: hsl(0, 0%, 100%)
$colTopBGPattern: hsl(225, 100%, 98%)
$colCardBG: hsl(227, 47%, 96%)
$col1Text: hsl(228, 12%, 44%)
$col2Text: hsl(230, 17%, 14%)

