@import reset

// CONSTS
// ## Colors
// ### Primary
$colLimeGreen: hsl(163, 72%, 41%)
$colBrightRed: hsl(356, 69%, 56%)
$colFacebook: hsl(195, 100%, 50%)
$colTwitter: hsl(203, 89%, 53%)
$colInstagram: linear gradient hsl(37, 97%, 70%) to hsl(329, 70%, 58%)
$colYouTube: hsl(348, 97%, 39%)

// GENERAL ELEMENTS
\:root
    font-size: 14px

html
    scroll-behavior: smooth

body
    font-family: 'Inter', sans-serif











// attribution frontend mentor
.attribution
    font-size: 11px
    text-align: center
.attribution a
    color: hsl(228, 45%, 44%)